<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWx8LVdK-L34H5US7kHUF_T4PTMFT8GN8</string>
	<key>GCM_SENDER_ID</key>
	<string>240989059566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jialihan.com.nuios.ContactsApp</string>
	<key>PROJECT_ID</key>
	<string>contactsapp-bbc4a</string>
	<key>STORAGE_BUCKET</key>
	<string>contactsapp-bbc4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240989059566:ios:195b47ed7c442b4dc6b6ff</string>
</dict>
</plist>